@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

* {
  font-family: "Teachers", sans-serif;
}
html,
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}
.me-auto {
  margin-left: 10px;
}
.side-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  left: -350px;
  width: 350px;
  position: fixed;
  background: linear-gradient(180deg, #0e4c66 0, #001a30 100%);
  overflow-x: hidden;
  transition: 0.4s;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1001 !important;
}
.closebtn {
  color: white;
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 1.1em;
  margin-left: 50px;
  cursor: pointer;
}
.header-side-nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Teachers", sans-serif;
  font-weight: 100;
  color: #f8f8ff;
  margin-top: 100px;
  margin-bottom: 20px;
}
.header-side-nav p {
  margin: 2px;
  font-size: xx-large;
  font-weight: 900;
}
#map {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #030303;
}
.form-group {
  margin-top: 20px;
  width: 100% !important;
}
.modal-body p {
  font-size: medium;
}
#close-menu {
  transform: scale(1.2);
}
#close-menu:hover {
  color: rgb(255, 0, 0);
}

.img-modal-about {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.info {
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
  background: rgba(255, 255, 255, 0.26);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.info img {
  width: 400px;
}
#colorbar-close {
  padding: 10px 10px;
  cursor: pointer;
}
#colorbar-close:hover {
  color: rgb(255, 0, 0);
}
.logoCepagriPrint {
  border-radius: 5px;
  padding: 6px 8px;
  font: 14px/16px Arial, Helvetica, sans-serif;
}
.logoCepagriPrint img {
  width: 230px;
}

.leaflet-control-layers-overlays label {
  margin-bottom: 0px !important;
}

@media (max-width: 650px) {
  .logoCepagriPrint {
    width: 130px;
    height: 30px;
  }
  .info img {
    width: 300px;
  }
  .logoCepagriPrint img {
    width: 120px;
  }
}
@media (max-width: 320px) {
  .info img {
    width: 200px;
  }
}
